*{
    
    font-family: 'Mukta', sans-serif;
}
body{
    margin: 0;
    background-color: #E1BAF4 ;
}

.container{
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header.header{
    display: flex;
    height: 50px;
    background-color: #e1bafe;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 7px;

}

a{
    text-decoration: none;
}

